In [1]:
import pandas as pd
import json

In [ ]:
data = pd.read_csv("rwe_point.csv")

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
data2 = data.drop(["FID","days_applicable","dt_modified","dt_created","timestamp","processed_time"],axis=1)

In [ ]:
data2.info()

In [ ]:
data2.columns

In [ ]:
data2[data2.lanes_affected != 0].shape

In [ ]:
data3 = data2.drop(['start_pref_rdname',
       'end_pref_rdname', 'lrs_start_locality', 'lrs_end_locality',
       'lrs_rmaclass', 'lrs_srns', 'lrs_lga', 'lrs_ses_region', 'lrs_melway',
       'lrs_vcsd', 'geom', 'works_type', 'speed_limit',],axis =1)

In [ ]:
data3.to_dict(orient='record')[0]

In [ ]:
geojson = []
for i in data3.to_dict(orient='record'):
    if i["lanes_affected"] != 0:
        point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['rwe_point'].split(" ")[1][1:]), float(i['rwe_point'].split(" ")[2][:-1])]},
            "properties":{}}
        point["properties"] = {
            "description": "<p>Closure Type: " + i['rwe_closure_type'] + "</p><p>Start Date: " + i["rwe_start_dt"] + "</p><p>End Date: " + i["rwe_end_dt"]
                            + "</p><p>Information: " + i["rwe_publish_text"] + "</p>",
            "icon": "star"
        }
        geojson.append(point)

In [ ]:
len(geojson)

In [ ]:
col =[]
for i in geojson:
    if i['geometry']['coordinates'][0] >144.948070 and i['geometry']['coordinates'][0] < 144.980588:
        if i['geometry']['coordinates'][1] > -37.82475 and i['geometry']['coordinates'][1]<-37.805908:
            col.append(i)

In [ ]:
col

In [ ]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection = FeatureCollection(geojson)

with open('myfile.geojson', 'w') as f:
   dump(feature_collection, f)

In [ ]:
surface = pd.read_csv("com_road_surfaces.csv")

In [ ]:
footway = surface[surface.type == "Footway"]

In [ ]:
surface

In [ ]:
list = []
for i in footway.the_geom[13][16:-3].split(','):
    log = float(i.strip().split(" ")[0])
    lat = float(i.strip().split(" ")[1])
    list.append([log,lat])

In [ ]:
list

In [ ]:
data4 = data2.drop(['rwe_id','start_pref_rdname',
       'end_pref_rdname', 'lrs_start_locality', 'lrs_end_locality',
       'lrs_rmaclass', 'lrs_srns', 'lrs_lga', 'lrs_ses_region', 'lrs_melway',
       'lrs_vcsd', 'geom', 'works_type','rwe_point'],axis =1)

In [ ]:
data4

In [ ]:
data4.to_csv("road_construction.csv", index = False)

In [ ]:
import csv

In [ ]:
reader = csv.reader('road_construction.csv', dialect='excel')

In [ ]:
with open('road_construction.csv', 'rt') as f:
    reader = csv.reader(f, dialect='excel')
    for row in reader:
        print(row)

In [ ]:
rwe_type = row[0]
                    rwe_closure_type = row[1]
                    rwe_status = row[2]
                    rwe_start_dt = row[3]
                    rwe_end_dt = row
                    rwe_publish_text = row
                    subject_pref_rdname =row
                    traffic_delay =row
                    speed_limit = row
                    lanes_affected = row

In [ ]:
toilet = pd.read_csv('Wheelchair-accessible_public_toilets .csv')

In [ ]:
toilet.to_dict(orient='record')[0]

In [ ]:
geojson_toilet = []
for i in toilet.to_dict(orient='record'):
    point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['lon']),float(i['lat']),]},
            "properties":{}}
    point["properties"] = {
            "description": "<p><strong>name: " + i['name'] + "</p><p>wheelchair: " + i["wheelchair"] + "</p><p>Operator: " + i["operator"]
                            + "</p><p>male: " + i["male"] + "</p><p>female: " + i["female"] + "</p>"
        }
    geojson_toilet.append(point)

In [ ]:
geojson_toilet

In [ ]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection_2 = FeatureCollection(geojson_toilet)

with open('toilet.geojson', 'w') as f:
   dump(feature_collection_2, f)

In [8]:
volume = pd.read_csv("volume.csv")

In [13]:
volume = volume.drop(["ID","Sensor_ID","Unnamed: 0","Date_Time"],1)

ValueError: labels ['ID' 'Sensor_ID' 'Unnamed: 0' 'Date_Time'] not contained in axis

In [14]:
volume.head()

   Year Month  Mdate     Day  Time Sensor_Name  Hourly_Counts
0  2018  June     24  Sunday     3    New Quay             22
1  2018  June      4  Monday    11    New Quay            158
2  2018  June     17  Sunday     1    New Quay             10
3  2018  June     17  Sunday    14    New Quay             71
4  2018  June      1  Friday    11    New Quay            174

In [29]:
volume1 = pd.DataFrame(volume.groupby('Sensor_Name')['Hourly_Counts'].mean())

In [32]:
volume1.reset_index(inplace=True)

In [33]:
volume1.head()

   index                  Sensor_Name  Hourly_Counts
0      0                 Alfred Place     235.655556
1      1               Birrarung Marr     337.652778
2      2  Bourke St-Russell St (West)     658.716667
3      3   Bourke Street Mall (North)    1364.259722
4      4   Bourke Street Mall (South)     938.318056

In [18]:
data = pd.read_excel('First two parts.xlsx')

In [27]:
data['volume'] =0

In [36]:
data.head()

                           Street   Longitude   Latitude  volume
0                     City Square  144.966698 -37.815852       0
1  Chinatown-Lt Bourke St (South)  144.968251 -37.811658       0
2                 The Arts Centre  144.969059 -37.821503       0
3    Flinders St-Spring St (West)  144.974818 -37.815048       0
4           Collins Place (South)  144.973141 -37.813607       0

In [37]:
for i in range(volume1.shape[0]):
    for n in range(data.shape[0]):
        if volume1.loc[i,'Sensor_Name'] == data.loc[n,'Street']:
            data.loc[n,'volume'] = volume1.loc[i,"Hourly_Counts"]

In [38]:
data

                                    Street   Longitude   Latitude       volume
0                              City Square  144.966698 -37.815852     0.000000
1           Chinatown-Lt Bourke St (South)  144.968251 -37.811658   390.584722
2                          The Arts Centre  144.969059 -37.821503   999.794444
3             Flinders St-Spring St (West)  144.974818 -37.815048   171.988889
4                    Collins Place (South)  144.973141 -37.813607   432.605556
5                        Melbourne Central  144.964031 -37.810156  1176.209722
6        Flinders Street Station Underpass  144.965511 -37.819102  1275.204167
7                           Birrarung Marr  144.971387 -37.818362   337.652778
8                          Lygon St (East)  144.963654 -37.802688   134.302778
9                       Collins St (North)  144.965517 -37.815804   632.898611
10   Melbourne Central-Elizabeth St (East)  144.962119 -37.811750   980.534722
11                 QVM-Franklin St (North)  144.959346 -37.808418   111.865278
12                             Webb Bridge  144.947179 -37.823697   185.009722
13                          Princes Bridge  144.968336 -37.819141  1217.677778
14             Bourke St-Russell St (West)  144.968146 -37.812648   658.716667
15                       QV Market-Peel St  144.956111 -37.809284   131.002778
16              Bourke Street Mall (South)  144.964530 -37.813829   938.318056
17           St Kilda Rd-Alexandra Gardens  144.972153 -37.820264   302.673611
18              Bourke Street Mall (North)  144.964639 -37.813874  1364.259722
19                         Waterfront City  144.939174 -37.815250   116.248611
20           Spencer St-Collins St (North)  144.954199 -37.818777  1359.813889
21            Lonsdale St-Spring St (West)  144.972235 -37.809264   293.047222
22            Monash Rd-Swanston St (West)  144.964194 -37.798342   160.850000
23                           Pelham St (S)  144.963782 -37.802252   103.565278
24              Faraday St-Lygon St (West)  144.967213 -37.798475   212.659722
25                               Southbank  144.965118 -37.819909  1503.180556
26                  Southern Cross Station  144.952528 -37.818261   761.659722
27  Melbourne Convention Exhibition Centre  144.957249 -37.825960   575.306944
28         Flinders St-Elizabeth St (East)  144.964866 -37.818012  1475.880556
29                     Lonsdale St (South)  144.962198 -37.812020   546.048611
30                            Alfred Place  144.970204 -37.814369   235.655556
31                       Flagstaff Station  144.956343 -37.811616     0.000000
32                          Victoria Point  144.946362 -37.818074   186.931944
33           QV Market-Elizabeth St (West)  144.955749 -37.807207   590.136111
34                         Queen St (West)  144.959675 -37.812655   306.694444
35           Grattan St-Swanston St (West)  144.963920 -37.800391   187.529167
36          Flinders La-Swanston St (West)  144.966988 -37.816468  1736.158333
37                   QVM-Therry St (South)  144.955809 -37.807495   220.444444
38                  Lincoln-Swanston(West)  144.963600 -37.802399     0.000000
39                                New Quay  144.946014 -37.815018   218.184722
40                        Town Hall (West)  144.966237 -37.814815  1346.104167
41           Spencer St-Collins St (South)  144.954999 -37.818882   362.838889
42           Chinatown-Swanston St (North)  144.965545 -37.812445   574.781944
43                         Lygon St (West)  144.966628 -37.803065   212.659722
44                    Flinders St-Spark La  144.973991 -37.815413   132.755556
45                   Collins Place (North)  144.973062 -37.813492   294.306944
46                           State Library  144.964438 -37.810503   780.905556
47                        Sandridge Bridge  144.963044 -37.819738     0.000000
48          Flinders St-Swanston St (West)  144.967340 -37.817320     0.000000
49            Tin Alley-Swanston St (West)  144.964465 -37.796868    85.570833
50    Little Collins St-Swanston St (East)  144.965964 -37.814247   876.350000
51                     QVM-Queen St (East)  144.958603 -37.806216   239.955556
52        Elizabeth St-Lonsdale St (South)  144.961930 -37.812467   399.070833

In [43]:
geojson_volume = []
for i in data.to_dict(orient='record'):
    point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['Longitude']),float(i['Latitude']),]},
            "properties":{}}
    point["properties"] = {
            "description": "<p><strong>Volume:"+ str(round(i['volume'],2)) +"</p>"
        }
    geojson_volume.append(point)

In [44]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection_2 = FeatureCollection(geojson_volume)

with open('volume.geojson', 'w') as f:
   dump(feature_collection_2, f)

In [2]:
ele = pd.read_csv("elevators.csv")

In [3]:
ele

,Unnamed: 0,station,the_geom,pids,he_loop,lift,long,lat
0,0,Bayswater,POINT (145.26826700000004 -37.84186299999999),LCD,Yes,Yes,145.268267,-37.841863
1,1,Bentleigh,POINT (145.03689400000007 -37.91779299999996),LCD,Yes,Yes,145.036894,-37.917793
2,2,Blackburn,POINT (145.15019700000005 -37.82015799999999),Dot Matrix,No,Yes,145.150197,-37.820158
3,3,Boronia,POINT (145.28429700000004 -37.859830999999986),Dot Matrix,No,Yes,145.284297,-37.859831
4,4,Box Hill,POINT (145.1218 -37.81927399999995),CRT,No,Yes,145.121800,-37.819274
5,5,Dandenong,POINT (145.20963900000004 -37.989934000000005),Dot Matrix,No,Yes,145.209639,-37.989934
6,6,Epping,POINT (145.02860700000008 -37.65301699999998),Dot Matrix,Yes,Yes,145.028607,-37.653017
7,7,Flagstaff,POINT (144.95644700000003 -37.811826999999994),LCD,Yes,Yes,144.956447,-37.811827
8,8,Flinders Street,POINT (144.966997 -37.81832099999997),LCD,Plat 1 only,Yes,144.966997,-37.818321
9,9,Footscray,POINT (144.902378 -37.801694999999995),Dot Matrix,Yes,Yes,144.902378,-37.801695
10,10,Gardiner,POINT (145.05162400000006 -37.853275999999994),LCD,Yes,Yes,145.051624,-37.853276
11,11,Ginifer,POINT (144.80964300000005 -37.75758099999996),LCD,Yes,Yes,144.809643,-37.757581
12,12,Heatherdale,POINT (145.21189500000003 -37.818922999999984),LCD,Yes,Yes,145.211895,-37.818923
13,13,Laverton,POINT (144.7726150000001 -37.86369399999995),Dot Matrix,No,Yes,144.772615,-37.863694
14,14,Mckinnon,POINT (145.03822300000002 -37.91071299999999),LCD,Yes,Yes,145.038223,-37.910713
15,15,Melbourne Central,POINT (144.963757 -37.809699999999964),LCD,Yes,Yes,144.963757,-37.809700
16,16,Mitcham,POINT (145.19228099999998 -37.81797799999998),Dot Matrix,Yes,Yes,145.192281,-37.817978
17,17,Watergardens,POINT (144.77386 -37.700717),Dot Matrix,No,Yes,144.773860,-37.700717
18,18,North Melbourne,POINT (144.94183099999998 -37.806735),LCD,No,Yes,144.941831,-37.806735
19,19,Nunawading,POINT (145.174174 -37.820719999999994),Dot Matrix,Yes,Yes,145.174174,-37.820720
20,20,Ormond,POINT (145.039531 -37.903606999999965),LCD,Yes,Yes,145.039531,-37.903607
21,21,Parliament,POINT (144.97340800000006 -37.811928999999964),LCD,Yes,Yes,144.973408,-37.811929
22,22,Ringwood,POINT (145.22881600000005 -37.815968999999996),Dot Matrix,Yes,Yes,145.228816,-37.815969
23,23,Southern Cross,POINT (144.95219300000008 -37.818354),LCD,No,Yes,144.952193,-37.818354
24,24,Springvale,POINT (145.153507 -37.94937999999996),Dot Matrix,Yes,Yes,145.153507,-37.949380
25,25,St Albans,POINT (144.80007 -37.744872999999984),LCD,Yes,Yes,144.800070,-37.744873
26,26,Sunshine,POINT (144.83232400000009 -37.78785099999999),Dot Matrix,Yes,Yes,144.832324,-37.787851
27,27,Thomastown,POINT (145.01429400000006 -37.680296),Dot Matrix,Yes,Yes,145.014294,-37.680296
28,28,West Footscray,POINT (144.88564800000006 -37.801849000000004),Dot Matrix,Yes,Yes,144.885648,-37.801849
29,29,Westall,POINT (145.1388340000001 -37.938492),Dot Matrix,No,Yes,145.138834,-37.938492
30,30,Coolaroo,POINT (144.92605300000002 -37.661001),Dot Matrix,Yes,Yes,144.926053,-37.661001
31,31,South Morang,POINT (145.06746800000008 -37.64907599999998),Dot Matrix,Yes,Yes,145.067468,-37.649076
32,32,Williams Landing,POINT (144.74719400000004 -37.87009999999998),Dot Matrix,Yes,Yes,144.747194,-37.870100
33,33,Southland,POINT (145.048673 -37.958177999999975),LCD,Yes,Yes,145.048673,-37.958178

In [9]:
geojson_volume = []
for i in ele.to_dict(orient='record'):
    point ={
            "type": 'Feature',
            "geometry": {
            "type": 'Point',
            "coordinates": [float(i['long']),float(i['lat']),]},
            "properties":{}}
    point["properties"] = {
            "description": "<table><tr><th>Station: </th><td>" + i['station'] + "</td></tr><tr><th>Elevator: </th><td>" + i['lift']  
        + "</td></tr></table>"
        }
    geojson_volume.append(point)

In [10]:
geojson_volume

[{'geometry': {'coordinates': [145.26826700000004, -37.84186299999999],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Bayswater</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.0368940000001, -37.91779299999996],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Bentleigh</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.15019700000005, -37.82015799999999],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Blackburn</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.28429700000004, -37.85983099999999],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Boronia</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.1218, -37.81927399999995], 'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Box Hill</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.20963900000004, -37.98993400000001],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Dandenong</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.0286070000001, -37.65301699999998],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Epping</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.95644700000003, -37.811827],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Flagstaff</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.966997, -37.81832099999997],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Flinders Street</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.902378, -37.801695], 'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Footscray</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.05162400000006, -37.853276],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Gardiner</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.80964300000005, -37.75758099999996],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Ginifer</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.21189500000003, -37.818922999999984],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Heatherdale</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.7726150000001, -37.86369399999995],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Laverton</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.03822300000004, -37.91071299999999],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Mckinnon</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.96375700000002, -37.809699999999964],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Melbourne Central</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.19228099999995, -37.817977999999975],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Mitcham</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.77386, -37.700717], 'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Watergardens</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.94183099999995, -37.806734999999996],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>North Melbourne</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.174174, -37.82072], 'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Nunawading</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.039531, -37.903606999999965],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Ormond</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.97340800000006, -37.811928999999964],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Parliament</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.22881600000005, -37.815969],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Ringwood</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.9521930000001, -37.818354],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Southern Cross</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.15350700000002, -37.94937999999996],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Springvale</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.80007, -37.744872999999984],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>St Albans</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.83232400000009, -37.78785099999999],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Sunshine</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.01429400000006, -37.680296000000006],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Thomastown</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.88564800000006, -37.801849],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>West Footscray</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.1388340000001, -37.938492],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Westall</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.92605300000002, -37.661001],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Coolaroo</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.0674680000001, -37.64907599999998],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>South Morang</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [144.74719400000004, -37.87009999999998],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Williams Landing</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [145.048673, -37.958177999999975],
   'type': 'Point'},
  'properties': {'description': '<table><tr><th>Station: </th><td>Southland</td></tr><tr><th>Elevator: </th><td>Yes</td></tr></table>'},
  'type': 'Feature'}]

In [11]:
import json
from geojson import Point, Feature, FeatureCollection, dump

feature_collection_2 = FeatureCollection(geojson_volume)

with open('elevator.geojson', 'w') as f:
   dump(feature_collection_2, f)